@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: $subTitle !important;
}

.greeting-main {
  display: flex;
  flex-direction: row-reverse; /* 👈 هادي كتخلي الصورة في اليمين والنص في اليسار */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2,5rem;
  padding: 3rem 0;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.empty-div {
  margin-bottom: 40px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}
.download-link-button {
  text-decoration: none;
}

.greeting-text {
  font-family: "Poppins", sans-serif;
  font-size: 46px !important;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 0.5rem;
}

.greeting-text-p {
  font-family: "Playfair Display", "Poppins", serif; /* خط راقي بستايل أنيق */
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: #3b2f4a; /* بنفسجي غامق مائل للرمادي */
  font-weight: 400;
  font-style: italic; /* يعطي إحساس ناعم */
  letter-spacing: 0.8px;
  max-width: 700px;
  margin-top: 1.2rem;
  text-align: justify;
  transition: all 0.3s ease;
}

.greeting-text span.name {
  color: #f6b15c; 
  font-weight: 600;
  font-size: 46px;
}

.greeting-image-div > img {
  width: 350px;
  height: 470px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 25px rgba(108, 99, 255, 0.4);
  transition: transform 0.3s ease;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 90% 90%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
  .greeting-image-div {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}




